@import url(http://weloveiconfonts.com/api/?family=entypo);

@font-face {
	font-family: bergamot;
	src: url(../fonts/BergamotOrnaments.ttf);
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: 'Life Savers', san-serif;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
}

body {
	background-image: url('../images/damask.png');
	background-repeat: repeat;
}

.container {
	padding: 0 10px;
}

.header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.logo {
	display: block;
	width: 100%;
}

.nav.top {
	display: block;
	width: 415px;
	margin: 0 auto;
}

.nav.gallery-menu {
	display: block;
	width: 444px;
	margin: 0 auto;
	padding: 5px 0;
}

ul {
	margin-left: -40px;
	margin-top: 2px;
}

.nav li {
	display: inline-block;
	font-size: 17px;
	padding: 3px;
}

.logo img {
	max-width: 200px;
	display: block;
	margin: 0 auto;
}

.main img {
	width: 100%;
}

#footer {
	width: 100%;
}

.social ul {
	max-width: 240px;
	margin: 0 auto;
	padding: 14px 0;
	display: flex;
}

.social li {
	display: inline-block;
	width: 20%;
	padding-left: 8px;
}
.copyright {
	width:200px;
	margin: 0 auto;
}
.menu {
	display: none;
}

.info li {
	display: inline;
	margin: 0 5px;
}

.info ul {
	width: 314px;
	padding: 0;
	margin: 0 auto 25px auto;
}

button:hover, a:hover {
  opacity: 0.75;
  cursor: pointer;
}

.bio {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.gallery-images {
	display: flex;
}

.nav.gallery-menu li.fancy {
	font-family: bergamot;
	display: none;
	font-size: 1.5em;
	text-align: center;
}

figure {
	margin: 0;
	padding: 0;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 2em;
  padding: 4px;
  color: #562057;
}



/***************************
****************************
Responsive
****************************
***************************/

@media screen and (max-width: 442px) {
	.bio {
		width: 100%;
	}
}

@media screen and (max-width: 470px) {
	.logo {
		width: 80%;
	}
	.menu {
		display: block;
		max-width: 100px;
		padding-left: 20px;
		padding-top: 2px;
	}
	.nav {
		width: 100%;
	}
	.nav.top ul {
		z-index: 10;
		background-color: #562057;
		width: 300px;
		position: absolute;
		vertical-align: left;
		/* This trasform moves the drawer off canvas. */
	    -webkit-transform: translate(-300px, 0);
	    transform: translate(-300px, 0);
	}

	.nav.gallery-menu {
		margin: 1em 0 0 0;
		width: 100%;
	}

	.nav.gallery-menu li {
		width: 100%;
	}

	.nav.gallery-menu li.fancy {
		display: list-item;
		list-style: none;
		padding: 0;
	}
	.nav.open ul {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		padding: 0;
		margin: 0;
		right: 0;
	}
	
	.nav.top li {
		display: list-item;
		border-bottom: 1px solid #fff;
		width: 100%;
		list-style: none;
		padding: 1em;
	}
	.nav.gallery-menu li {
		display: list-item;
		width: 100%;
		list-style: none;
		padding: 0;
		font-size: 1.2em;
		text-align: center;
	}
	.nav li.line {
		display: none;
	}
	.front img {
		padding: 10px;
	}
	.gallery-images {
		display: none;
	}
}

@media screen and (min-width: 600px) {
	.nav li {
		font-size: 20px;
	}
	.nav.top {
		width: 470px;
	}
	.nav.gallery-menu {
		width: 505px;
	}
	.logo img {
		max-width: 250px;
	}
}

@media screen and (min-width: 810px) {
	.logo {
		width: 30%;
	}
	.nav {
		max-width: 70%;
	}
	.front {
		padding: 10px 0;
	}
}

@media screen and (min-width: 960px) {
	.header, .content, .footer {
		width: 960px;
		margin: 0 auto;
		}
}





/***************************
****************************
slideshow
****************************
***************************/

.bss-slides{
  position: relative; 
  display: block;    
}
.bss-slides figure{
/* these are the individual slides*/
  position: absolute;
  top: 0;
  width: 100%;
}
.bss-slides figure:first-child{
/* the very first slide is relatively 
   positioned in order to give height 
   to the container element */
  position: relative;
}
.bss-slides figure img{
/* all slide images are made "invisible"
   with an opacity of 0, then we
   set the transition property so
   that later when we change it,
   it transitions over 1.2 seconds for a
   fade in/out effect instead of changing 
   instantly */   
  opacity: 0;
  transition: opacity 1.2s;
}
.bss-slides .bss-show img{
  opacity: 1;
}
.bss-next, .bss-prev{
  position: absolute;
  top: 40%;
  z-index: 1;
  opacity: 0;
  user-select: none;
  font-size: 2em;
}
.bss-next:hover, .bss-prev:hover{
/* give the buttons a pointer/hand cursor
   and highlight them with full opacity
   when hovering */  
  cursor: pointer;
  opacity: .5;
}
.bss-next{
/* position 'next' button at right */  
  right: 0;
}
.bss-prev{
/* position 'previous' button at left */
  left: 0;
}